@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center">
    <a class="btn btn-primary" asp-page="/SignUp">Sign Up</a>
    <a class="btn btn-primary" asp-page="/SignIn">Sign In</a>
</div>